body {
	font-family: 'Probot', sans-serif;
}

/* navbar */
.nav-link{
	color : #FFC000!important;
	font-weight: bold;
	font-size: 	15px;
	line-height: 18px;
}

.navbar .btn {
    border-radius: 100px;
    width: 120px;
    background: linear-gradient(237.65deg, #FFC000 1.55%, #FF8A00 95.8%);
    background-color: #FFC000;
}


/* jumbotron */
h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 158%;
}

.jumbotron{
	background-image: url('../html/pexels-pixabay-531321.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 705px;
	color : #FFF7DF;
}

.jumbotron .btn{
	border-radius: 100px;
	height: 56px;
	width: 160px;
	background-color: black;
	border-color: grey;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	color: #FFC000;

}
